<div class="wrapper">
	<div class="container">
		<h1>All our Flats</h1>
		<p>You are viewing <%= @flats.count %> flats.</p>
		<div class="cards">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card">
						<div class="card-img">
							<p>image</p>
						</div>
						<div class="card-content">
							<div class="flat-card-title">
								<h2>Flat title</h2>
							</div>
							<div class="flat-card-description">
								<p>Description of flat</p>
							</div>
							<div class="flat-card-icons">
								<div class="flat-card-icons-people">
									<i class="fas fa-users"></i> 
									<p>3</p>
								</div>
								<div class="flat-card-icons-price">
									<i class="fas fa-dollar-sign"></i>
									<p>45</p>
								</div>
							</div>
						</div>
						<div class="card-action">
							<p>More info</p>
							<p>Edit</p>
							<p>Remove</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card">
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="card">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>